// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  @include max-width;
  text-align: center;

  .inquiry {
    a {
      padding: 17px 30px;
      margin: 20px 0;
      display: inline-block;
      border-top: 1px solid rgba(52, 52, 52, 0.63);
      border-bottom: 1px solid rgba(52, 52, 52, 0.63);
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
    }
  }

  .copyright {
    margin: 40px auto 20px auto;

    p {
      font-size: 10px;
    }
  }
}

.socials {
  a {
    padding: 0 10px;
  }

  img {
    height: 30px;
  }

  .mail {
    height: auto;
  }

}