// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  @include max-width;
  text-align: center;

  .socials {
    a {
      padding: 0 15px;
    }

    img {
      height: 30px;
    }

    .mail {
      height: 35px;
    }

  }

  .inquiry {
    a {
      padding: 17px 0;
      margin: 20px 0;
      display: inline-block;
      border-top: 1px solid rgba(52, 52, 52, 0.63);
      border-bottom: 1px solid rgba(52, 52, 52, 0.63);
    }
  }

  .copyright {
  }
}