.inquery-popup {
  position: relative;
  background: $gray-background;
  background-image: url(../img/svg/Products-pattern.svg);
  background-position: -150px 155px;
  background-repeat: no-repeat;
  color: $red;
  padding: 30px 30px 15px 30px;
  width: auto;
  max-width: 600px;
  margin: 20px auto;

  h2 {
    margin-bottom: 10px;
    color: $red;
  }

  form {
    margin: 0 auto;

    input, textarea {
      display: block;
      padding: 10px;
      width: 100%;
      border: 1px solid $white;
      opacity: 0.85;

      &:focus {
        opacity: 1;
      }
    }

    .textarea {
      margin-bottom: 10px;
    }

    .terms {
      display: inline-block;
      margin: 0;
      margin-top: 10px;

      input {
        width: unset;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .btn {
      display: inline-block;
      float: right;
      width: 85px;
      border: none;
      border-left: 4px solid $red;
      background: linear-gradient(to left, transparent 50%, #f7f7f7 50%);
      background-size: 200% 100%;
      background-position: right bottom;

      &:hover {
        background-position: left bottom;
      }
    }
  }
}

.mfp-close-btn-in .mfp-close {
  color: $text !important;

  &:hover, &:focus, &:active {
    color: $red !important;
  }
}

.form-item {
  margin-bottom: 25px;
}