
body {
  font-family: $book, serif;
  font-size: 1rem;
  background: $background;
  color: $text-color;
}

h1, h2, h3 {
  line-height: 1;
  font-family: $medium;
  font-weight: 400;
}


p {
  font-size: 1rem;
  line-height: 1.85;
}

.light {
  font-family: $light;
  font-weight: 400;
}

.medium {
  font-family: $medium;
  font-weight: 400;
}

.x-lite {
  font-family: $extra-light;
  font-weight: 400;
}

.bold {
  font-family: $bold;
  font-weight: 400;
}

.book {
  font-family: $book;
  font-weight: 400;
}


.center {
  text-align: center;
}
